{% load staticfiles %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

<html>
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
        <title>Soy Information Network</title>
    </head>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">SoyInformationNetwork</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav">
        <li><a href="#">Expression DB <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Standing Variation DB</a></li>
        <li><a href="#">Mutant DB</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Contact us</a></li>
      </ul>
    </div>
  </div>
</nav>




<body>
    <div class="container">
        <div>
            <h1><a href="/">Welcome to the network</a></h1>
        </div>

        <div>
            <h2><a href="">News</a></h2>
            <p>This site is still under contruction</p>
            <div class="progress progress-striped active">
            <div class="progress-bar" style="width: 25%">
            </div>
            </div>
        </div>
        <div>
        <ul class="list-group">
          <li class="list-group-item">
            <span class="badge">1</span>
            Working on expression database
          </li>
          <li class="list-group-item">
            <span class="badge">2</span>
            Working of stading variant database
          </li>
          <li class="list-group-item">
            <span class="badge">3</span>
            Working on Mutant Database
          </li>
        </ul>
    </div>


    </div>

</body>

</html>